<f:form.validationResults for="{formName}">
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<h4 class="alert-heading">Fehler!</h4>
			<f:for each="{validationResults.flattenedErrors}" key="propertyName" as="errorsForProperty">
				<f:for each="{errorsForProperty}" as="error">
					<p>
						<f:translate key="{formName}.{propertyName}.{error.code}" default="{error.message} (#{error.code})" />
					</p>
				</f:for>
			</f:for>
		</div>
	</f:if>
</f:form.validationResults>
