{namespace sjr=Tx_SjrOffers_ViewHelpers}
<f:layout name="default" />
<f:section name="content">
	<sjr:security.ifAuthenticated person="{organization.administrator}">
		<f:then>
			<f:render partial="formErrors" arguments="{formName: 'organization'}" />
			<f:form class="tx-sjroffers-form" method="post" action="update" name="organization" object="{organization}">
				<label for="name">Name</label>
				<f:form.textbox property="name" size="46" /><br />
				<label for="address">Adresse</label>
				<f:form.textarea property="address" rows="6" cols="46" /><br />
				<label for="telephoneNumber">Telefon</label>
				<f:form.textbox property="telephoneNumber" size="46" /><br />
				<label for="telefaxNumber">Telefax</label>
				<f:form.textbox property="telefaxNumber" size="46" /><br />
				<label for="emailAddress">E-Mail</label>
				<f:form.textbox property="emailAddress" size="46" /><br />
				<label for="url">Homepage</label>
				<f:form.textbox property="url" size="46" /><br />
				<label for="description">Beschreibung</label>
				<f:form.textarea property="description" rows="8" cols="46" /><br />
				<f:form.submit value="Speichern"/>
			</f:form>
		</f:then>
		<f:else>
			<f:render partial="accessError" />
		</f:else>
	</sjr:security.ifAuthenticated>
			
</f:section>